.navbar {
  background-color: #005b9f;
}
.navbar-text {
  text-align: center !important;
  color: white;
}
.outer-container {
  text-align: right;
  padding-right: 100px;
}
.inner-container {
  display: inline-block;
  text-align: left;
}

.body{
  background-color: #fff8e3 !important;
}

.btn-primary{
  display: inline-block;
  background-color: #dfa827;
  padding: 13px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  border-color: black;
}


  footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #005b9f;
  color: white;
  text-align: center;
}