
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>prueba taller proyecto</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <main>


            <!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg navbar-light navbar transparent-navbar blurred-navbar navbar-text" style="width:100%; margin:0;">
      <a class="navbar-brand" href="/templates/index.html">
      <img src="/static/logo.png" alt="Your Logo" height="80">
    </a>
    <div class="top">
        <h1>      UNIVERSIDAD AUTONOMA DE CHIAPAS</h1>
    </div>
    </nav>
 <!-- FIN DE BARRA DE NAVEGACION --> 

<!--FORMULARIO-->
<br> <br> <br> <br> <br>
<div class="outer-container">
    <img src="/static/foto.jpeg" alt="Image" style="float: left; padding-left: 200px;">

    <div class="inner-container">
      <div class="title">ACCESO<BR> <br></div>
      <form action="#">
        <div class="datos-usuario">
          <div class="input-cuadro">
            <span class="detalles">Correo Unach <br> <br> </span>
            <input type="text" placeholder="Correo Electronico"> <br> <br>
          </div>
          <div class="input-cuadro" >
            <span class="detalles">Contraseña <br> <br></span>
            <input type="text" placeholder="Contraseña"> <br> <br>
          </div>
          <div class="button">
            <button type="button" class="btn btn-primary" onclick="window.location.href='registro.html'">Registrarse</button>
          </div>
        </div>
      </form>
    </div>
  </div>

 <!--FIN DE FOMULARIO-->



<!--FOOTER-->
<footer>
  <p>EXAMEN TALLER DE DESARROLLO 4 &copy; BRYAN ANDREW CASTRO VALENCIA 6M 16/FEB/23</p>
</footer>

<!--FIN DE FOOTER-->
  </main>
</body>
</html> 
